<div>
  <!-- 面包屑 -->
  <el-breadcrumb separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    <el-breadcrumb-item>用户列表</el-breadcrumb-item>
  </el-breadcrumb>
  <!-- 列表头部 -->
  <el-row :gutter="20">
    <el-col :span="8">
      <el-input class="input-with-select" placeholder="请输入内容" v-model="searchText">
        <el-button @click="startSearch" icon="el-icon-search" slot="append"></el-button>
      </el-input>
    </el-col>
    <el-col :span="8">
      <el-button @click="dialogAddUserFormVisible = true">添加用户</el-button>
    </el-col>
  </el-row>
  <el-table :data="userData" style="width: 100%">
    <el-table-column label="姓名" prop="username"></el-table-column>
    <el-table-column label="邮箱" prop="email"></el-table-column>
    <el-table-column label="电话" prop="mobile"></el-table-column>
    <el-table-column label="用户状态">
      <template slot-scope="scope">
        <el-switch v-model="scope.row.mg_state" @change="changeUserStatus(scope.row.id, scope.row.mg_state)">
        </el-switch>
      </template>
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button type="primary" icon="el-icon-edit" plain size="mini" @click="showEditUserDialog(scope.row)">
        </el-button>
        <el-button type="danger" icon="el-icon-delete" plain size="mini" @click="delUser(scope.row)"></el-button>
        <el-button type="success" icon="el-icon-check" plain size="mini"
          @click="showDialogAssignRolesVisible(scope.row)">分配角色
        </el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination :page-size="2" :total="pageTotle" @current-change="currentPageChange" :current-page="+pagenum"
    backgroundlayout="prev, pager, next">
  </el-pagination>
  <!-- 添加用户模态框 -->
  <el-dialog title="添加用户" :visible.sync="dialogAddUserFormVisible">
    <el-form :model="addUserForm" label-width="80px" :rules="rules" ref="addUserForm">
      <el-form-item label="用户名" prop="username">
        <el-input v-model="addUserForm.username"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="addUserForm.password"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="addUserForm.email"></el-input>
      </el-form-item>
      <el-form-item label="手机" prop="phone">
        <el-input v-model="addUserForm.phone"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAddUserFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="addUser">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 编辑用户模态框 -->
  <el-dialog title="编辑用户" :visible.sync="dialogEditUserFormVisible">
    <el-form :model="editUserForm" label-width="80px">
      <el-form-item label="用户名">
        <el-tag>{{ editUserForm.username }}</el-tag>
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="editUserForm.email"></el-input>
      </el-form-item>
      <el-form-item label="电话">
        <el-input v-model="editUserForm.mobile"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogEditUserFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="editUser">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 分配用户角色模态框 -->
  <el-dialog title="收货地址" :visible.sync="dialogAssignRolesVisible">
    <el-form :model="AssignRolesForm" label-width="80px">
      <el-form-item label="用户名">
        <el-tag type="success">{{ AssignRolesForm.username}}</el-tag>
      </el-form-item>
      <el-form-item label="角色列表">
        <el-select v-model="AssignRolesForm.rolesId" placeholder="请选择角色">
          <el-option :label="item.roleName" :value="item.id" v-for="item in rolesList" :key="item.id"></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAssignRolesVisible = false">取 消</el-button>
      <el-button type="primary" @click="AssignRoles">确 定</el-button>
    </div>
  </el-dialog>
</div>
